<!doctype html>

<html lang="en">


<head>
</head>

<body>

  <img src="/images/welcome.png" WIDTH = 450 HEIGHT = 200>

  <form action="/urls/new" method="GET" style="margin:40px;">
    <input type="submit" value="new URL">
  </form>

  <form action="/urls" method="GET" style="margin:40px;">
    <input type="submit" value="list of urls">
  </form>

</body>

</html>